*,
*::before,
*::after {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
}

.grab {
  cursor: grab;
}

.point {
  cursor: pointer;
}

#viewer {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-around;
}

#img {
  position: absolute;
  max-width: 420px;
  width: auto;
  height: auto;
}

#map {
  position: absolute;
  z-index:10;
  /* border: 1px solid blue; */
}

.grid {
  display: grid;
  /* grid-gap: 4px; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width:420px;
  height:420px;
  will-change: transform;
}

.block {
  /* border: 1px solid black; */
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
  transition: transform 3s ease;
  will-change: transform;
}

.hiddenBlock {
  opacity: 0.1;
}
