*,html,
*::before,
*::after,*>* {
  box-sizing: border-box;
}

:root {
  --size: 400px;
  --fontSize: 2rem;
  --hilight: #1de9b6;
}

#app {
  width: 100%;
  height: 100%;
}

.grab {
  cursor: grab;
}

.point {
  cursor: pointer;
}

#viewer {
  position: relative;
  max-width: var(--size);
  width: var(--size);
  height: var(--size);
}

#img {
  position: absolute;
  max-width: var(--size);
  width: var(--size);
  height: var(--size);
  minWidth: var(--size);
  minHeight: var(--size);
  maxWidth: var(--size);
  maxHeight: var(--size);
  width: var(--size);
  height: var(--size);
  transition: opacity 2s ease;
}

#map {
  position: absolute;
  z-index:10;
}

.grid {
  display: grid;
  gap:1px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width:var(--size);
  height:var(--size);
  will-change: transform;
}

.block {
  transition: transform 3s ease;
  will-change: transform;
}

.hiddenBlock {
  opacity: 0.1;
}

.row {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-around;
}

.col {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #3a4149;
  background: #e7ebee;
  line-height: 1.15;
  font-size: 16px;
  margin: 10px 10px;
}
.btn:hover {
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px var(--hilight);
  background: rgba(248,248,248,1);
  text-decoration: inherit;
  transition-duration: 0s, 0.15s;
  color: #42526e;
}

.text {
  font-size: var(--fontSize);
  text-decoration: underline;
  text-decoration-color: var(--hilight);
}
